Management of shows can be handled through normal permissions, but need to assign permissions

Authorize name recombination and show approval queue (Dashboard)

Settings page to enter in their netid and password, needed for scraping. Maybe this page could also flash a warning if it's working or not.