<h2>Upcoming Auditions</h2>
<% @shows.each do |show,auditions| %>
	<div class="show">
		<%= render :partial => "shared/show_listing", :locals => {:show => show} %><br />
		Slots available: <%= "#{auditions.select{|a| a.person_id == nil}.count} / #{auditions.count}" %><br />
		<%= link_to "Signup Here", show_auditions_path(show) %>
	</div>
	<br />
<% end %>
<% if @shows.blank? %>
	Sorry, there are no upcoming auditions at this time. Please check back soon!
<% end %>