<% @opportunities.each do |position,sp_arr| %>
	<h4><%= position %></h4>
	<% sp_arr.each do |sp| %>
		<div class="show">
			<%= link_to sp.show.title, best_link(sp.show) %><br />
			<%= format_long_rundates(sp.show) %><br />
			Contact: <%= link_to sp.show.contact, "mailto:#{sp.show.contact}" %>
		</div>
	<% end %>
<% end %>