<% @opportunities.each do |position,sp_arr| %>
	<div class="position_group">
		<h3><%= position %></h3>
		<% sp_arr.each do |sp| %>
			<div class="show">
				<b><%= link_to sp.show.title, best_link(sp.show) %></b><br />
				<%= format_long_rundates(sp.show) %><br />
				Contact: <%= link_to sp.show.contact, "mailto:#{sp.show.contact}" %>
			</div>
		<% end %>
	</div>
	<br />
<% end %>