<!-- Modal -->
<div id="reservations" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="resModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="resModalLabel"><span class="show_title"></span> Reservations</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => "shared/show_reservation_form", :locals => { :show => Show.new, :no_submit => true } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Create Reservation</button>
  </div>
</div>
