development:
  access_key_id: AKIAIKV35FPA5QOUEOEQ
  secret_access_key: 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
  bucket: yaledramacoalition

production:
  access_key_id: AKIAIKV35FPA5QOUEOEQ
  secret_access_key: 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
  bucket: yaledramacoalition