/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * TODO: Add in require bootstrap-responsive.min later and make things work again
 *
 *= require bootstrap.min
 *= require_self
 *= require frontpage
 *= require auditions
 *= require shows
 *= require people
 *= require reservations
 *= require resources
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require jquery.timepicker.css
*/

@import "bits";

body {
	font-family: "depot-new-web", "Lucida Grande", sans-serif;
	color: $dk-purple;
	padding-top: 50px;
}

iframe {
	border: none;
}

.container {
    padding: 20px 0;
}

.alt-text {
	font-size: 14px;
	color: $purple;
	th {
		font-weight: normal;
		text-align: left;
	}
}

h5 {
	color: $purple;
}

h1,h2,h3 {
	font-family: "Bitter", sans;
}

h2 {
	margin-bottom: 20px;
	border-radius: 2px;
}

.faded {
	color: $lt-purple;
}

header {
    padding: 0 !important;
}

nav {
	.navbar-inner { 
	   background: $purple;
	   border: none;
	   box-shadow: none !important;
       padding: 0 20px !important;
       
       .brand {
           text-indent: -9999px;
           background: image-url("umbrella.png") no-repeat;
           margin: 9px 14px 0 0;
       }   
	   
	   .nav > li > a {
    	   color: $lt-purple;
    	   text-transform: uppercase;
    	   text-shadow: none;
    	   line-height: 30px;
    	   padding: 9px 16px 11px;
    	   
    	   &:hover {
        	   color: white;
    	   }
    	   
    	   &.active { 
    	       font-weight: bold;
    	       color: white;
    	   }
	   }
    }
    
    .navbar-search {
		background-color: #8891df;
		border-radius: 3px;
		line-height: 30px;
		margin-top: 9px;
		margin-left: 6px;
		
		.input-append { margin: 0; }
		
		.btn {
    		background: none;
    		padding: 5px 8px 4px 5px;
    		box-shadow: none;
		}
        
    	.search-query {
    		border-radius: 0;
    		box-shadow: none;
    		background: none;
    		padding: 4px 10px;
    		color: white;
    		width: 150px;
    		border: none;
    	}
	}
	
	#nav-user {
    	margin-top: 9px;
	
    	a {
        	padding: 0 10px 2px;
        	background: #8891df;
        	border-radius: 3px;
        	line-height: 28px;
        	text-transform: none;
        	
        	&:hover {
            	background: $dk-purple;
        	}
    	}
    }
	
   /* h1,h2,h3,h4,h5 { display: inline; }
	h4 { 
		margin-left: 20px; 
		font-weight: normal;
		color: #6D6E70;
	}*/

}

.text-on-image {
	background-color: rgba(0,0,0,.3);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
}

.btn {
    background-image: none;
    border: none;
    background-color: $purple;
    color: white;
    text-shadow: none;
    &:hover {
    	color: white;
    	background-color: #070d4b;
    }
}

.best_in_place {
	cursor: pointer;
	text-shadow: 0 0 0.1em #8F7;
	background-color: #AFB;
	&:hover {
		text-shadow: 0 0 0.2em #AAA;
	}
}

.field_with_errors { 
	display: inline; 
	input, select, textarea {
		border: 1px solid red
	}
}
.field_with_errors label {
	font-weight: bold;
	color: red;
}

/* 	Footer Stuff	*/
footer {
	background: $dk-purple;
	color: $lt-purple;
	
	.center { 
	   text-align: center; 
	   margin-bottom: -5px;
    }
	.right { text-align: right; }
}

#footer-umbrella {
    display: inline-block;
    margin-top: -5px;
    
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    -moz-transition: -moz-transform 0.8s ease-in-out;
    -o-transition: -o-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    
    &:hover { 
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg); 
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }  
}

/*  End Footer		*/