/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * TODO: Add in require bootstrap-responsive.min later and make things work again
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require_self
 *= require frontpage
 *= require auditions
 *= require shows
 *= require showtimes
 *= require people
 *= require reservations
 *= require resources
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require jquery.timepicker.css
*/

@import "bits";

/* TODO: this is a bug in responsive bootstrap, remove if it ever gets fixed? */
@media (max-width: 767px) {
  .modal.fade.in {
    top: 5%;
  }
}

@media (max-width: 480px) {
  .brand.hidden-desktop {
    font-size: 14px;
  }
}

body {
	font-family: "depot-new-web", "Lucida Grande", sans-serif;
	color: $dk-purple;
	background: $dk-purple;
    @media (max-width: 767px) {
        background: white;
    }
}

#main { background: white; }

iframe {
	border: none;
}

h1,h2,h3 {
	font-family: "Bitter", sans;
}

h2 {
	margin-bottom: 20px;
}

h5 {
	color: $purple;
}

a {
    color: $purple;
    &:hover {
        color: darken($purple, 15%);
        text-decoration: none;
    }
    &.ul {
        border-bottom: 1px solid;
        color: inherit;
    }
}

.container {
    padding: 20px 0;
}

.alt-text {
	font-size: 14px;
	color: $purple;
	th {
		font-weight: normal;
		text-align: left;
	}
}

.faded {
	color: $lt-purple;
}

.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

@media (max-width: 767px) {
    #nav-main { 
        margin-left: 0px;
    }
}

#nav-main {
    .btn-navbar { margin-top: 12px; }
    
    .brand {
        text-shadow: none;
        color: $lt-purple;
        text-shadow: 0 1px 0 $dk-purple;
        &.hidden-desktop { line-height: 28px; }
    }

	.navbar-inner { 
	   background: $purple;
	   border: none;
	   box-shadow: none !important;
       padding: 0 20px !important;

	   .nav > li > a {
    	   color: $lt-purple;
    	   text-transform: uppercase;
    	   text-shadow: none;
    	   line-height: 30px;
    	   padding: 9px 16px 11px;
    	   
    	   &:hover {
        	   color: white;
               @media (max-width: 767px) {
                    background-color: $dk-purple;
               }
    	   }
    	   
    	   &.active { 
    	       font-weight: bold;
    	       color: white;
    	   }
	   }
    }
    
    .navbar-search {
		background-color: #8891df;
		border-radius: 3px;
		line-height: 30px;
		margin-top: 9px;
		margin-left: 6px;
		
		.input-append { margin: 0; }
		
		.btn {
    		background: none;
    		padding: 5px 8px 4px 5px;
    		box-shadow: none;
		}
        
    	.search-query {
    		border-radius: 0;
    		box-shadow: none;
    		background: none;
    		padding: 4px 10px;
    		color: white;
    		width: 150px;
    		border: none;
    	}
	}
	
	#nav-user {
    	margin-top: 9px;
	
    	a {
        	padding: 0 10px 2px;
        	background: #8891df;
        	border-radius: 3px;
        	line-height: 28px;
        	text-transform: none;
        	
        	&:hover {
            	background: $dk-purple;
        	}
    	}
    }
}

.text-on-image {
	background-color: rgba(0,0,0,.3);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
}

.btn {
    background-image: none;
    border: none;
    background-color: $purple;
    color: white;
    text-shadow: none;
    &:hover {
    	color: white;
    	background-color: #070d4b;
    }
}

.best_in_place {
	cursor: pointer;
	text-shadow: 0 0 0.1em #8F7;
	background-color: #AFB;
	&:hover {
		text-shadow: 0 0 0.2em #AAA;
	}
}

.field_with_errors { 
	display: inline; 
	input, select, textarea {
		border: 1px solid red
	}
}
.field_with_errors label {
	font-weight: bold;
	color: red;
}

input[type=text], input[type=number], input[type=file], textarea, select, .faux-input {
	border-radius: 3px;
	background: $lt-purple;
	color: $purple;
	border: 1px solid $lt-purple;
	box-shadow: none;
	padding: 4px 10px;
	
	&::-webkit-input-placeholder, &::-moz-placeholder {
    	color: $purple;
	}
	
	&:hover {
    	border-color: $purple;
	}

	&:focus {
		background-color: $purple;
		border-color: $purple;
		color: #FFF;
    	box-shadow: 0 0 2px 1px $lt-purple;		
	}
}

/* 	Footer Stuff	*/
footer {
	background: $dk-purple;
	color: $lt-purple;
	
	.center { 
	   text-align: center; 
	   margin-bottom: -5px;
    }
	.right { text-align: right; }
	
	a:hover { color: lighten($purple, 15%); }
}

#footer-umbrella {
    display: inline-block;
    margin-top: -5px;
    opacity: 0.4;
    
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    
    &:hover {
        opacity: 1.0;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg); 
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }  
}

/*  End Footer		*/

.aligncenter { text-align: center; }
.alignright { text-align: right; }