/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require frontpage
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require jquery.timepicker.css
*/

body {
	color: #070d4b;
	font-family: 'Bitter', serif;
}

h1,h2,h3,h4,h5 {
	font-family: "depot-new-web", sans;
}

.header {
	h1,h2,h3,h4,h5 { display: inline; }
	h4 { margin-left: 20px; }
}

.text-on-image {
	background-color: rgba(0,0,0,.3);
}





.best_in_place {
	cursor: pointer;
	text-shadow: 0 0 0.1em #8F7;
	background-color: #AFB;
	&:hover {
		text-shadow: 0 0 0.2em #AAA;
	}
}

.field_with_errors label {
	font-weight: bold;
	color: red;
}

/* 	Footer Stuff	*/
.footer {
	clear: both;
	padding-top: 80px;
	margin-left: 250px;
	text-align: center;
	width: 700px;
}


/*  End Footer		*/