@import "bits";

@media (min-width: 767px) {
  .pages.index > .container {
      padding-top: 40px;
  }
}

.section-intro {
  text-transform: uppercase;
  text-align: center;
  hr {
    width: 100px; 
    margin: 10px auto 20px; 
    border-top-color: #110D3F;
  }
}

.this_week, .frontpage-preview {
  .poster-bg {
    position: relative;
    background-repeat: no-repeat;
  }

  /* Media Query for mobile frontpage listings */
  .poster.left { 
    float: left;
    margin-right: 20px;

    img {
        @media (max-width: 767px) {
            max-width: 350px;
            max-height: 300px;
        }
        @media (max-width: 480px) {
            max-width: 150px;
            max-height: 250px;
        }
    }
  }

  /* End mobile */

  .row {
    color: white;

    + .row {
      margin-top: 20px;
    }

    .info {
      box-sizing: border-box;
    }


    .item {

      /* Repair the spacing so backgrounds work */
      .poster[class*="span"] { 
        margin-left: 0px; 
        & + .info {
          padding-left: 0px;
        }
      }
      > .row { margin-left: 0px; }


      .title {
        font-family: 'Bitter', serif;
        line-height: 30px;
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        padding: 15px 20px;
        
        &.full {
          padding-top: 100px;
        }
       
      }
    }

    .title, .title > a {
      font-size: 30px;
      color: white;
    }
  }
}

.this_week .row, .frontpage-preview .row, .swatch, h2 {
  &.red {
    background-color: #ee4036;
    .btn {
      background-color: #aa1b1b;
    }
  }

  &.yellow {
    background-color: #d8c671;
    .btn {
      background-color: #c1a21f;
    }
  }

  &.green {
    background-color: #8bc53f;
    .btn {
      background-color: #639b0d;
    }
  }

  &.dark_blue {
    background-color: #2b3169;
    .btn {
      background-color: #6f79d8;
    }
  }

  &.blue {
    background-color: #6f79d8;
    .btn {
      background-color: #050a21;
    }
  }

  &.light_blue {
    background-color: #d4d7f3;
    .btn {
      background-color: #6f79d8;
    }
  }

  &.black {
    background-color: #404041;
    .btn {
      background-color: black;
    }
  }
}

#no-upcoming { color: $dk-purple; }

#full-calendar { margin: 20px 0; }

#news {
  background: $pale-purple;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.news-item {
    margin-bottom: 30px;

    > .date {
        text-align: right;
        padding: 8px 10px 0 0;
    }
    
    .day {
        display: block;
        font-size: 52px;
        line-height: 52px;
    }
    
    .month { text-transform: uppercase; }
}