@import "bits";

#cal-intro {
  text-transform: uppercase;
  text-align: center;
  hr {
    width: 100px; 
    margin: 10px auto; 
    border-top-color: #110D3F;
  }
}

.this_week, #this_week, .frontpage-preview {
  .poster-bg {
    position: relative;
    background-repeat: no-repeat;
  }

  .row {
    margin: 0px;
    color: white;

    + .row {
      margin-top: 20px;
    }

    .span3 {
      &.poster, &.info {
        width: 210px;
      }
    }

    .span4.info {
      width: 260px;
    }

    div[class*="span"] { margin: 0px; }

    .item {
      & + .item { margin-left: 20px; }
      .title {
        font-family: 'Bitter', serif;
        line-height: 30px;
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        padding: 15px 20px;
        &.span4 {

        }
        &.full {
          padding-top: 100px;
        }
        &.offset3 {
          margin-left: 210px;
          min-height: 250px;
        }
      }
    }

    .title, .title > a {
      font-size: 30px;
      color: white;
    }
  }
}

#this_week .row, .this_week .row, .frontpage-preview .row, .swatch, h2 {
  &.red {
    background-color: #ee4036;
    .btn {
      background-color: #aa1b1b;
    }
  }

  &.yellow {
    background-color: #d8c671;
    .btn {
      background-color: #c1a21f;
    }
  }

  &.green {
    background-color: #8bc53f;
    .btn {
      background-color: #639b0d;
    }
  }

  &.dark_blue {
    background-color: #2b3169;
    .btn {
      background-color: #6f79d8;
    }
  }

  &.blue {
    background-color: #6f79d8;
    .btn {
      background-color: #050a21;
    }
  }

  &.light_blue {
    background-color: #d4d7f3;
    .btn {
      background-color: #6f79d8;
    }
  }

  &.black {
    background-color: #404041;
    .btn {
      background-color: black;
    }
  }
}

#news {
    background: $pale-purple;
    h2 { margin-bottom: 0px; }
}