@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.info {
			margin-bottom: 30px;
			width: 450px;
			float: left;
}

/* Upcoming shows */
.upcoming.this_week {
	.show {
		@include clearfix();
		.info {
			text-align: center;
			width: 900px;
		}
		&.with_poster {
			> div {
				width: 450px;
				margin: 10px;
				float: left;
			}
		}
	}
}

.description {
	clear: left;
}

.show_group td {
	width: 400px;
	padding: 10px;
}

.poster {
	float: right;
	margin: 20px 40px;
	> img {
		max-width: 320px;
	}
}