@import "bits";


/* MEDIA QUERIES  for things smaller than portrait tablets */
.shows.show {
	@media (max-width: 767px) {
    .performances, .reservations, .cast, .crew, .media { 
        text-align: center;
    }

    table {
    	margin: 0 auto;
    	text-align: left;
    }

    .performances, .cast {
    	margin-bottom: 60px;
    }
	}
}

.shows.index {
	@media (max-width: 767px) {
		.show-listing .info {
			width: 230px;
		}

		.span4 {
			margin: 3px 0;
		}
	}
}


#nav-shows {
	z-index: 10;
	background-color: rgba(255,255,255,.93);
	
	&.fixed { 
	   box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 8px 1px;
    }
		
	.navbar-inner {
	    .nav > li {
    	    padding: 10px 0;
	    }
		.nav > li > a {
			color: $purple;
			text-shadow: none;
			padding: 6px 15px 7px;
			
			&:hover {
    		    color: $dk-purple;	
			}
		}
		.nav > .active > a {
			background-color: $lt-purple;
       		color: $purple;
       		font-weight: bold;
       		box-shadow: none;
       		border-radius: 3px;
		}
    	max-width: 940px;
    	padding: 0;
    	margin: 0 auto;
		border: none;
		border-radius: 0px;
		background: none;
		text-transform: uppercase;
		box-shadow: none;
	}
}

.shows.new, .shows.edit, .shows.show, .shows.edit_people {

    .lg {
        font-size: 18px;
        line-height: 24px;
    }

	h4, h5 {
		color: $dk-purple;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: normal;
		a { color: $purple; }
	}

	h5 {
		color: $purple;
	}

	.show-header {
		margin-top: 10px;
		text-align: center;
	
		h2 { 
			color: white;
			display: inline-block;
			padding: 4px 22px;
			border-radius: 3px;			
			
			&.no_color {
				color: inherit;
			}
		}
		p { margin: 0; }
		.writer { 
			font-weight: bold;
			font-size: 18px;
		}
		.tagline {
			text-transform: uppercase;
		}
	}

	.poster {
		text-align: center;
		max-height: 450px;
		overflow: hidden;
		img { max-height: 450px; }
	}
	
	.description {
		margin-top: 20px;
	}
	
	.performances-past {
    	color: $lt-purple;
    	text-decoration: line-through;
	}
	
	.performances-next { font-weight: bold; }
	
	.performances-location { color: $purple; }
	
	.reservations {
		input {
			display: inline;
			border-radius: 0px;
			border-bottom: 1px $dk-purple solid;
			&[type=number] { width: 50px; }
			&[type=text] { 
				padding-bottom: 0px;
				width: 135px;
				&[name*=email] { width: 165px; } 
			}
		}
	}	

	.cast-crew {
		table {
			td { 
				vertical-align: top;
				padding: 3px 0px; 
			}
			td:first-child {
				font-weight: bold;
				padding-right: 10px;
				max-width: 140px;
			}
			td:last-child {
				text-align: left;
				padding-left: 10px;
			}
		}
	}

	*:not([class*="span"]) > .row {
		margin-bottom: 30px;
	}
}

.show-form {
	color: $purple;
	line-height: 40px;

	input[type=text], input[type=number], textarea, select {
		width: 90%;
	}

	input[type=checkbox] {
		margin-top: -5px;
	}

	.field_with_errors {
		background-color: red;
	}

	h4 {
		margin-bottom: 0px;
    }

	h4 + p {
		line-height: 20px;
		margin-bottom: 15px;
	}

	&.people, .permissions {
		input[type=text] {
			width: 30%;
		}

		select{
			width: 25%;
		}
		
		ul {
			margin-left: 5px;
			list-style-type: none;
		}
	}

	.auditions {
		input[name=location] { width: 90%; }
		input.time { width: 55px; }
		.span2, .span3 {
			text-align: right;
		}
	}	

	label + input, input + label {
		margin-left: 10px;
	}

	input[type=number] {
		width: 45px;
	}

	input.date {
		width: 100px;
	}

	label {
		color: $purple;
		font-size: 18px;
		display: inline;
	}

	.showtimes {

		input[type=text] {
			width: 100px;
			margin-left: 7px;
		}
		label {
			margin-right: 15px;
		}
	}

	textarea {
		height: 150px;
		resize: vertical;
	}

	span.required:after {
		color: red;
		font-size: 26px;
		content: " *"; 
	}

	.field_explanation {
		font-size: 12px;
		line-height: 14px;
	}

	[rel=tooltip] {
		border-bottom: 1px dotted;
		font-size: 14px;
		margin-left: 20px;

		&:hover {
			text-decoration: none;
		}
	}

	.color-item {
		text-align: center;
		line-height: 20px;
		float: left;
		margin-right: 10px;
		input { margin: 0px; }
		.swatch {
			width: 55px;
			height: 25px;
		}
	}

	.frontpage-preview {
		line-height: 20px;
		position: fixed;
		[class*="span"] { margin-left: 0px; }
		.poster { margin: 0px; }
	}
}

#tech_ops {
	font-size: 18px;
	color: #2B3169;
	span { color: $purple; }
}

#show_freeze_mins_before {
	margin: 0 5px;
}

#url-key-preview {
	text-decoration: underline;
	span { color: $dk-purple; }
}

#btn-upload {
    background: $lt-purple;
	color: $purple;
	border: 1px solid $lt-purple;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-right: 6px;
	
	&:hover {
    	border-color: $purple;
	}
	
	input {
    	position: absolute;
    	left: 0px;
    	top: 0px;
    	font-size: 100px;
    	filter: alpha(opacity=1);
        -moz-opacity: 0.01;
    	opacity: 0.01;
	}
}

#flickr_show {
	height:550px; 
	width: 100%;
	.flickrshow-container {
		z-index: -1;
	}
}

#audition_slots {
	line-height: 20px;
	.date { 
		width: 100px;
		float: left;
		font-size: 18pt;
		color: #2B3169;
		.location {
			color: $purple;
			font-size: 14pt;
		}
	}
	.entries {
		font-size: 18px;
		width: 510px;
		float: left;
		a.remove {
			color: #BE1E2D;
		}
		.past {
			color: $lt-purple;
		}
	}
	.condensed, .hide-all {
		display: none;
	}
	
	.email, .phone, .audition-actions {
		display: none;
	}
	.entries {
		width: 310px;
	}
}

.show-dashboard {
	table {
		td, th {
			padding: 0px 10px;
		}
		.past {
			color: $lt-purple;
		}
	}

	.staff {
		& > a {
			text-decoration: underline;
			color: inherit;
		}
	}

	#audition_slots {
		.block-remove, .remove {
			display: none;
		}
		table td {
			padding: 0px;
			&:first-child { width: 70px; }
			&.name { width: 180px;}
			&.phone { width: 180px;}
			&.email { width: 80px}
		}
	}
}

.shows.index {

	.divider {
		text-align: center;
		margin-bottom: 20px;
	}
	
	h3 {
    	display: inline-block;
    	padding-bottom: 2px;
    	border-bottom: 2px solid;
    	color: $purple;
	}

	.row {
		margin-bottom: 20px;
	}

	.show-listing {
		.poster {
			float: left;
			margin-bottom: 10px;
			margin-right: 10px;
			width: 100px;
			height: 100px;
			overflow: hidden;

			.swatch {
				width: 100%;
				height: 100%;
				display: block;
			}

			.poster-horizontal { height: 100px;	}
			.poster-vertical   { width: 100px; }
		}

		.info {
			width: 190px;
			float: left;

			h4 {
				margin: 0px;
				font-family: "Bitter", "depot-new-web", "Lucida Grande", sans-serif;
				a {
					color: inherit;
					&:hover {
						color: $purple;
					}
				}
			}
			
			p {
        		line-height: 18px;
    		}
		}
		
		.show-writer {
    		font-weight: bold;
		}
	}
}