@import "bits";

#show-nav {
	&:not(.fixed) {
		margin-top: -40px;
	}
	z-index: 10;
	width: 940px;
	.navbar-inner {
		.nav > li > a {
			color: #6F79D8;
			text-shadow: none;
		}
		.nav > li.active > a {
			background-color: #d4d7f3;
       		color: #6F79D8;
       		font-weight: bold;
		}
		border: none;
		border-radius: 0px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 8px 1px;
		background-color: rgba(255,255,255,.93);
		text-transform: uppercase;
		background-image: none;
	}
}

#archives {
	background: $lt-purple;
}

.content.shows {
	h5 {
		color: #2B3169;
		font-size: 14pt;
		text-transform: uppercase;
		font-weight: normal;
		a { color: #6F79D8; }
	}

	&.show h5 {
		color: #6F79D8;
	}

	.reservations {
		input {
			display: inline;
			border: none;
			box-shadow: none;
			border-radius: 0px;
			border-bottom: 1px #2B3169 solid;
			&[type=number] { width: 50px; }
			&[type=text] { 
				padding-bottom: 0px;
				width: 135px;
				&[name*=email] { width: 165px; } 
			}
		}
	}

	.show-header {
		h2 { 
			color: white;
			display: inline-block;
			padding: 5px 20px;
			margin: 0px auto;
	    &.no_color {
				color: inherit;
			}
		}
		.writer { 
			font-weight: bold;
		}
		.tagline {
			text-transform: uppercase;
		}
		p { 
			font-size: 18px;
			margin: 0px; 
		}
		margin-bottom: 40px;
		text-align: center;
	}

	.poster {
		margin-bottom: 40px;
		text-align: center;
		img { max-height: 450px; }
	}

	.cast, .crew {
		text-align: center;
		table {
			width: 100%;
			td { 
				vertical-align: top;
				padding: 3px 0px; 
			}
			td:first-child {
				width: 50%;
				text-align: right;
				font-weight: bold;
				padding-right: 10px;
			}
			td:last-child {
				width: 50%;
				text-align: left;
				padding-left: 10px;
			}
		}
	}

	*:not([class*="span"]) > .row {
		margin-bottom: 30px;
	}

	#audition_slots {
			line-height: 20px;
			.date { 
				width: 100px;
				float: left;
				font-size: 18pt;
				color: #2B3169;
				.location {
					color: #6F79D8;
					font-size: 14pt;
				}
			}
			.entries {
				font-size: 18px;
				width: 510px;
				float: left;
				a.remove {
					color: #BE1E2D;
				}
				.past {
					color: #D4D7F3;
				}
			}
			.condensed, .hide-all {
				display: none;
			}
		}

	.show-form {
		color: #6F79D8;
		line-height: 40px;

		input[type=text], input[type=number], textarea, select {
			width: 90%;
			background-color: #D4D7F3;
			color: #6F79D8;

			&:focus {
				background-color: #6F79D8;
				color: #FFF;
			}
		}

		input[type=checkbox] {
			margin-top: -5px;
		}

		.field_with_errors {
			background-color: red;
		}

		h5 {
				margin-bottom: 0px;
			}

		h5 + p {
			line-height: 20px;
			margin-bottom: 15px;
		}

		&.people, .permissions {
			input[type=text] {
				width: 30%;
			}

			select{
				width: 25%;
			}
			
			ul {
				margin-left: 5px;
				list-style-type: none;
			}
		}

		.auditions {
			input[name=location] { width: 90%; }
			input.time { width: 55px; }
			.span2, .span3 {
				text-align: right;
			}
		}

		#audition_slots {
			.email, .phone, .audition-actions {
				display: none;
			}
			.entries {
				width: 310px;
			}
		}

		#tech_ops {
			font-size: 18px;
			color: #2B3169;
			span { color: #6F79D8; }
		}

		label + input, input + label {
			margin-left: 10px;
		}

		#show_freeze_mins_before {
			margin: 0 5px;
		}

		input[type=number] {
			width: 45px;
		}

		input.date {
			width: 100px;
		}

		label {
			color: #6F79D8;
			font-size: 18px;
			display: inline;
		}

		.showtimes {

			input[type=text] {
				width: 100px;
				margin-left: 7px;
			}
			label {
				margin-right: 15px;
			}
		}

		textarea {
			height: 150px;
			resize: vertical;
		}

		span.required:after {
			color: red;
			font-size: 32px;
			content: " *"; 
		}

		.field_explination {
			line-height: 20px;
			position: relative;
			top: -10px;
		}

		[rel=tooltip] {
			border-bottom: 1px dotted;
			font-size: 14px;
			margin-left: 20px;

			&:hover {
				text-decoration: none;
			}
		}

		.color-item {
			text-align: center;
			line-height: 20px;
			float: left;
			margin: 5px;
			input { margin: 0px; }
			.swatch {
				width: 55px;
				height: 25px;
			}
		}

		.frontpage-preview {
			line-height: 20px;
			position: fixed;
			[class*="span"] { margin-left: 0px; }
			.poster { margin: 0px; }
		}
	}

	.show-dashboard {
		table {
			td, th {
				padding: 0px 10px;
			}
			.past {
				color: #D4D7F3;
			}
		}

		.staff {
			& > a {
				text-decoration: underline;
				color: inherit;
			}
		}

		#audition_slots {
			.block-remove, .remove {
				display: none;
			}
			table td {
				padding: 0px;
				&:first-child { width: 70px; }
				&.name { width: 180px;}
				&.phone { width: 180px;}
				&.email { width: 80px}
			}
		}
	}

	#flickr_show {
		height:550px; 
		width: 100%;
		.flickrshow-container {
			z-index: -1;
		}
	}
}

.shows.index {
	padding-top: 40px;

	.divider {
		text-align: center;
		margin-bottom: 20px;
	}

	h2 {
		display: inline-block;
		padding: 5px 20px;
		text-align: center;
		margin: 0px auto;
        background-color: #d4d7f3;
        color: #6F79D8;
        &.no_color {
			color: inherit;
		}
	}

	.row {
		margin-bottom: 20px;
	}

	.show_listing {
		.poster {
			float: left;
			margin-bottom: 10px;
			margin-right: 10px;
			width: 100px;
			height: 100px;
			text-align: center;

			.swatch {
				width: 100%;
				height: 100%;
			}

			img {
				max-width: 100px;
				max-height: 100px;
			}
		}

		.info {
			width: 190px;
			float: left;

			h4 {
				margin: 0px;
				font-family: "Bitter";
				a {
					color: inherit;
					&:hover {
						color: inherit;
					}
				}
			}
		}
	}
}