<% 
	# This is bad to put logic in a view...
	shows = Show.where(:archive => true).shows_in_term(term).select(&:has_closed?).sort_by{|show| show.showtimes.first.timestamp}
%>

<% if ! shows.empty? %>
<div class="divider" id="<%= term %>">
	<h3><%= oci_id_to_text(term) %></h3>
</div>
<% shows.in_groups_of(3, false) do |items| %>
	<div class="row">
		<% items.each do |item| %>
			<%= render :partial => 'shared/show_with_thumbnail', :locals => { :show => item, :row_count => items.length, :color_palette => item.accent_color ? item.accent_color.to_s : cycle("red", "blue","yellow","black","dark_blue","green", "light_blue") } %>
		<% end %>
	</div>
<% end %>
<% end %>