<li class="datepair">
	<label> Date <%= f.text_field :date, :class => "date", :value => f.object.timestamp ? f.object.timestamp.strftime("%m/%d/%Y") : "" %></label>
	<label> Time <%= f.text_field :time, :class => "time", :value => f.object.timestamp ? f.object.timestamp.strftime("%l:%M%P") : "" %></label>
	<%= link_to_remove_fields "remove", f %>
</li>