<strong>Semester:</strong>
<% (2008..Time.now.year).each do |year| %>
	<%= @term == "#{year}01" ? "Spring #{year}" : (link_to "Spring #{year}", archives_path("#{year}01")) %>&nbsp;
	<%= @term == "#{year}03" ? "Fall #{year}" : (link_to "Fall #{year}", archives_path("#{year}03")) %>
<% end %>
<br /><br />
<strong>Yearly archives from long ago:</strong><br />
<a href="/static_archives/pastarchive.html">1997-2003</a> &nbsp; &nbsp;
<a href="/static_archives/archive03-04.html">2003-2004</a> &nbsp; &nbsp;
<a href="/static_archives/archive04-05.html">2004-2005</a> &nbsp; &nbsp;
<a href="/static_archives/archive05-06.html">2005-2006</a> &nbsp; &nbsp;
<a href="/static_archives/archive06-07.html">2006-2007</a> &nbsp; &nbsp;
<a href="/static_archives/archive07-08.html">2007-2008</a> &nbsp; &nbsp;<br /><br />

<%= render :partial => "shared/show_group", :locals => { :shows => @shows} %>